<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tuit">
            <h2><span jhiTranslate="tfgTest1App.tuit.detail.title">Tuit</span> {{tuit.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tfgTest1App.tuit.userEmisor">User Emisor</span></dt>
                <dd>
                    <span>{{tuit.userEmisor}}</span>
                </dd>
                <dt><span jhiTranslate="tfgTest1App.tuit.userReceptor">User Receptor</span></dt>
                <dd>
                    <span>{{tuit.userReceptor}}</span>
                </dd>
                <dt><span jhiTranslate="tfgTest1App.tuit.textoTuit">Texto Tuit</span></dt>
                <dd>
                    <span>{{tuit.textoTuit}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tuit', tuit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
