/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 350px;
    background: url('../../content/images/no_login.png') no-repeat center top;
    background-size: contain;
}

.mitad1 {
    /*display: inline-block;
  background-size: contain;
  width: 347px;
  height: 350px;
  background: url("../../content/images/pokeball_background.png") no-repeat center top;*/
}

.mitad2 {
    /*display: inline-block;
    background-size: contain;
    width: 347px;
    height: 350px;
    background: url("../../content/images/pokeball_background.png") no-repeat center top;*/
    margin-top: 8vh;
}

.mainHome {
    margin-top: 15vh;
    height: 65vh;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/no_login.png') no-repeat center top;
        background-size: contain;
    }

    .mainHome {
        height: auto;
    }
}
