<div [ngSwitch]="isAuthenticated()">
    <div class="row" *ngSwitchCase="false">
        <div class="col-md-6">
            <span class="hipster img-fluid rounded" *ngSwitchCase="false"></span>
        </div>
        <div class="col-md-6">
            <h1 class="display-4" jhiTranslate="home.title" *ngSwitchCase="false">Welcome to Social GO!</h1>
            <div class="alert alert-warning">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to</span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign
                    in</a>
            </div>
            <div class="alert alert-warning">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account
                    yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a
                    new account</a>
            </div>
        </div>
    </div>
    <div class="row" *ngSwitchCase="false">
            <div class="col-md-6">
                <span class="hipster img-fluid rounded" *ngSwitchCase="false"></span>
            </div>
            <div class="col-md-6">
                <h1 class="display-4" jhiTranslate="home.title" *ngSwitchCase="false">Welcome to Social GO!</h1>
                <div class="alert alert-warning">
                    <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to</span>
                    <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign
                        in</a>
                </div>
                <div class="alert alert-warning">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account
                        yet?</span>&nbsp;
                    <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a
                        new account</a>
                </div>
            </div>
        </div>
</div>